:root { /* declares several variables for easy to reference colours and spacings  */
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black); /*  sets button text colour to predefined variable  */
  display: inline-block;
  padding: 0.5rem 1rem; /* adds spacing around the text within the border of the button */
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px; /* makes button rounded */
  background-color: var(--dl-color-gray-white); /*  sets background colour of button  */
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;/* container appears as a block container */
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;/* bullet points appear outside item */
}
.list-item {
  display: list-item;
}
.transaction-list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.deposit-button {
  font-style: normal;
  font-family: "Verdana"; /* sets font to Verdana */
  font-weight: 700; /* sets the weighting of the font to be semi-bold */
  font-size: 18px;
  border-radius: 8px; /* makes the button rounded */
  border: #000000;
  transition-duration: 0.4s; /* sets duration of transition when hovered over */
}
.deposit-button:hover { /* new styling when the button is hovered over */
  background-color: #04AA6D; /* changes background colour */
  color: white; /* changes text from black to white */
}
.withdraw-button {
  font-style: normal;
  font-family: "Verdana";
  font-weight: 700;
  font-size: 18px;
  border-radius: 14px;
  border: #000000;
  transition-duration: 0.4s;
}
.withdraw-button:hover {
  background-color: #ff4013; /* colour for button to change to when hovered over */
  color: white;
}

.add_fund_container {
  flex-direction: column !important; /* forces elements in container to be a vertical stack
  */
}

.admin-button {
  font-style: normal;
  font-family: "Verdana";
  font-weight: 600;
  font-size: 16px;
  border-radius: 14px; /* makes the button rounded */
}
.transaction-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.transaction-header-list-item{
  font-weight: bold;
  font-size: 36px;
  border-bottom: 5px solid black; /* Makes a thick divison line below the list item */
}